In [153]:
df = pd.read_csv("spotify_millsongdata.csv")

In [154]:
import pandas as pd

In [155]:
df. head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [156]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [157]:
df.shape

(57650, 4)

In [158]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [159]:
df= df.sample(30000).drop('link', axis=1).reset_index(drop=True)

In [160]:
df.head(10)

,artist,song,text
0,David Guetta,It's The Way You Love Me,Late at night I lose my focus \r\nLate at nig...
1,Grease,Mooning,"I spend my days just mooning, so sad and blue,..."
2,Venom,In Memory Of (Paul Miller 1964-90),He was in life as he was in death \r\nA well ...
3,George Harrison,A Hard Rain's Gonna Fall,"(george: like to bring on a friend of us all, ..."
4,Etta James,Strung Out,I will do whatever you say \r\nIt's got to be...
5,Kelly Family,So Many Things,You say it's hard on you \r\nand sometimes to...
6,Depeche Mode,Tomorrow's Dance,"Saturday night, you look so chic \r\nBeen wai..."
7,George Harrison,This Guitar,"(one, two, three, four) \r\n \r\nFound mysel..."
8,Clash,The Call Up,It's up to you not to heed the call-up \r\n'N...
9,Queensryche,Della Brown,You've got a cardboard house \r\nLive there a...

In [161]:
df['text'][0]

"Late at night I lose my focus  \r\nLate at night I'm calling out for you  \r\nIt can't be right I got no focus  \r\nI hope you noticed  \r\n  \r\nThe chemistry is off the radar  \r\nLook at me I don't know what to do  \r\nThis chemistry is off the radar  \r\nLet me see you later  \r\n  \r\nOver and over you run in my mind  \r\nGive me one look and you know I'm fine  \r\nCan't you see we're only wasting our time  \r\nBaby thought you understood  \r\n  \r\nIt's the way you look, me  \r\nIt's the way you move, me  \r\nAnd the way you touch, me  \r\nIt's the way you love, me  \r\n  \r\nWhat's the point? I can't remember  \r\nWhere's the key? Well give it up to me  \r\nYou got me boy and I surrender  \r\nLets get you back to my  \r\n  \r\nOver and over you run in my mind  \r\nGive me one look and you know I'm fine  \r\nCan't you see we're only wasting our time  \r\nBaby thought you understood  \r\n  \r\nIt's the way you look, me  \r\nIt's the way you move, me  \r\nAnd the way you touch, me  \r\nIt's the way you love, me  \r\n  \r\nBaby it's simple to see  \r\nBaby it's simple  \r\nThis is where I'm meant to be  \r\nThis is where I'm meant to be  \r\n  \r\nYou stole a piece of my heart  \r\nYou stole a piece of my heart baby  \r\nYou're making me start all over  \r\n  \r\nIt's the way you love, me  \r\nAnd the way you move, me  \r\n  \r\nIt's the way you love, me  \r\nAnd the way you move, me  \r\nAnd the way you touch, me  \r\nIt's the way you love, me  \r\nAnd the way you love  \r\n  \r\nEvery little thing you do  \r\nEverything that you do  \r\nYou can put me in the mood  \r\nYou put me in the mood  \r\n  \r\nNow I'm looking straight at you  \r\nYou're looking at me too  \r\nYeah you know what I want from you!\r\n\r\n"

In [162]:
df.shape

(30000, 3)

In [163]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [164]:
df.tail(10)

,artist,song,text
29990,Cyndi Lauper,Product Of Misery,she's just a product of misery... \r \r eve...
29991,Perry Como,Ave Maria,"ave maria \r gratia plena \r maria, gratia p..."
29992,Lloyd Cole,To The Lions,i lost my girl on monday \r looking for some ...
29993,Dan Fogelberg,Same Old Lang Syne,met my old lover in the grocery store \r the ...
29994,David Allan Coe,33rd Of August,mhmm mhmm mhmm too doo doo doo mhmm \r well t...
29995,Patti Smith,Dead City,this dead city \r longs to be \r this dead c...
29996,Marillion,Three Minute Boy,here today \r gone this afternoon \r another...
29997,Hank Snow,I'll Ride Back To Lonesome Valley,my troublin' mind tonight is drifting \r to a...
29998,Mud,Hippy Hippy Shake,for goodness sake. \r i've got the hippy hipp...
29999,Glee,Don't Sleep In The Subway,you wander around on your own little cloud \r...

In [165]:
import nltk
from nltk.stem.porter import PorterStemmer

In [166]:
stemmer = PorterStemmer()

In [167]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [168]:
import re
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

def token(txt):
    # Split words by anything that is not a letter or number
    tokens = re.findall(r'\b\w+\b', txt.lower())
    stemmed_tokens = [stemmer.stem(w) for w in tokens]
    return " ".join(stemmed_tokens)

print(token("you are beautiful, beauty"))

you are beauti beauti

In [169]:
df['text'].apply(lambda x: token(x))

0        late at night i lose my focu late at night i m...
1        i spend my day just moon so sad and blue so sa...
2        he wa in life as he wa in death a well remeb m...
3        georg like to bring on a friend of us all mr b...
4        i will do whatev you say it s got to be it s g...
                               ...
29995    thi dead citi long to be thi dead citi long to...
29996    here today gone thi afternoon anoth tune we al...
29997    my troublin mind tonight is drift to a cottag ...
29998    for good sake i ve got the hippi hippi shake y...
29999    you wander around on your own littl cloud when...
Name: text, Length: 30000, dtype: object

In [170]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Example assuming df['text'] contains your text data
tfid = TfidfVectorizer(analyzer='word', stop_words='english')
matrix = tfid.fit_transform(df['text'])

# Compute cosine similarity between all documents
similar = cosine_similarity(matrix)

print(similar)

[[1.         0.00358705 0.01296015 ... 0.02298174 0.00743611 0.02391424]
 [0.00358705 1.         0.00979728 ... 0.03756173 0.00309006 0.01846343]
 [0.01296015 0.00979728 1.         ... 0.02027088 0.00526933 0.00679532]
 ...
 [0.02298174 0.03756173 0.02027088 ... 1.         0.00125451 0.05645123]
 [0.00743611 0.00309006 0.00526933 ... 0.00125451 1.         0.00212802]
 [0.02391424 0.01846343 0.00679532 ... 0.05645123 0.00212802 1.        ]]

In [171]:
import pandas as pd

def find_song_index(df, song_name, partial=False):
   
    # Clean the song column
    clean_songs = df['song'].str.strip().str.lower()
    song_name_clean = song_name.strip().lower()
    
    if partial:
        matches = df[clean_songs.str.contains(song_name_clean, na=False)]
    else:
        matches = df[clean_songs == song_name_clean]
    
    if matches.empty:
        return []
    else:
        return matches.index.tolist()

# Example usage:
song_to_find = "You Belong To Me"
indices = find_song_index(df, song_to_find)

if indices:
    print(f"Song found at indices: {indices}")
else:
    print("Song not found")

Song found at indices: [7818, 24427, 27433, 29613]

In [172]:
def recommender(song_name):
    # Get the index of the song safely
    indices = find_song_index(df, song_name)
    if not indices:
        print("Song not found")
        return
    idx = indices[0]  # first match

    # Use the correct variable name 'similar'
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key=lambda x: x[1])
    
    song = []
    for s_id in distance[1:5]:  # skip first (itself)
        song.append(df.iloc[s_id[0]].song)
    return song

# Example usage
recommender("You Belong To Me")

['You Belong To Me',
 'You Belong To Me',
 'Back Where You Belong',
 'You Belong To Me']

In [173]:
import pickle

In [174]:
pickle.dump(similar, open("similarity", "wb"))

In [175]:
pickle.dump(similar, open("df", "wb"))